@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  padding: 0px;
  margin: 0px;
  background: black;
  position: relative;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

#viewer {
  transform: scale(0.7);
  position: absolute;
  left: 0px;
}

#video_bed {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 1280px;
  opacity: 0.4;
}

#foreground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: white;
}

.event-list {
  padding: 0px 40px;
  margin: 0px;

  li {
    will-change: opacity;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 42px;

    border-left: 10px solid #06A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);


    background: rgba(255, 255, 255, 0.8);
    animation: in-and-out 10s;

    .time {
      display: inline-block;
      color: #06A;
      width: 160px;
      text-align: right;
      padding-right: 10px;
    }

    .name {
      display: inline-block;
      width: 700px;
    }

    .location {
      display: inline-block;
    }
  }

  .item-2 {
    animation-delay: 0.1s;
  }

  .item-3 {
    animation-delay: 0.2s;
  }
}

@keyframes in-and-out {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
